{
  "openapi": "3.0.3",
  "info": {
    "title": "Commerce Real-Time Reports",
    "description": "Transaction Reporting Service (TRS) provides Reporting APIs.",
    "termsOfService": "http://sovrn.io/terms/",
    "version": "20230630"
  },
  "externalDocs": {
    "description": "Find out more Transaction Reporting Services",
    "url": "https://authcore.atlassian.net/l/cp/G5HL5km5"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://viglink.io/v1"
    }
  ],
  "paths": {
    "/reports/merchants": {
      "get": {
        "tags": [
          "reports"
        ],
        "summary": "Merchants",
        "description": "This endpoint is used to query aggregated performance metrics by Merchant. This data can be used to see individual merchant performance, your top performing merchants, actualized earnings, and more, all in real-time. Metrics include Revenue, Clicks, Sales, Actions, Conversion Rate and EPC.",
        "parameters": [
          {
            "name": "clickDateStart",
            "in": "query",
            "description": "Start Date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "clickDateEnd",
            "in": "query",
            "description": "End Date",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "campaignIds",
            "in": "query",
            "description": "Comma separated list of campaign IDs",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9,]+$"
            }
          },
          {
            "name": "subIds",
            "in": "query",
            "description": "Comma separated list of sub IDs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantGroupIds",
            "in": "query",
            "description": "Comma separated list of merchant group IDs",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9,]+$"
            }
          },
          {
            "name": "cuids",
            "in": "query",
            "description": "Comma separated list of CUIDs (custom tracking IDs)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageUtmSource",
            "in": "query",
            "description": "Comma seperated list of page UTM sources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageUtmMedium",
            "in": "query",
            "description": "Comma seperated list of page UTM mediums",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageUtmCampaign",
            "in": "query",
            "description": "Comma seperated list of page UTM campaings",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageUtmTerm",
            "in": "query",
            "description": "Comma seperated list of page UTM terms",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageUtmContent",
            "in": "query",
            "description": "Comma seperated list of page UTM contents",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkUtmSource",
            "in": "query",
            "description": "Comma seperated list of link UTM sources",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkUtmMedium",
            "in": "query",
            "description": "Comma seperated list of link UTM mediums",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkUtmCampaign",
            "in": "query",
            "description": "Comma seperated list of link UTM campaigns",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkUtmTerm",
            "in": "query",
            "description": "Comma seperated list of link UTM terms",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkUtmContent",
            "in": "query",
            "description": "Comma seperated list of link UTM contents",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "programType",
            "in": "query",
            "description": "Type of program (CPA/CPC)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CPC",
                "CPA"
              ]
            }
          },
          {
            "name": "sovrnProduct",
            "in": "query",
            "description": "Sovrn Product",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SovrnProductModel"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "Type of device",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DeviceTypeModel"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Two-letter ISO country code",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantsResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authorization information is missing or invalid"
          },
          "404": {
            "description": "Merchant data not found"
          },
          "5XX": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SovrnProductModel": {
        "type": "string",
        "enum": [
          "UNK",
          "ORG",
          "INS",
          "WRA",
          "RAC",
          "RAL",
          "CUP",
          "TPA",
          "PCR",
          "TXT",
          "SHG",
          "PRF"
        ]
      },
      "DeviceTypeModel": {
        "type": "string",
        "enum": [
          "DSK",
          "MBL",
          "TBL",
          "UKN"
        ]
      },
      "BaseResponseModel": {
        "type": "object",
        "properties": {
          "revenue": {
            "type": "number"
          },
          "clicks": {
            "type": "number"
          },
          "sales": {
            "type": "number"
          },
          "actions": {
            "type": "number"
          },
          "conversionRate": {
            "type": "number"
          },
          "epc": {
            "type": "number"
          }
        }
      },
      "MerchantsResponseModel": {
        "type": "object",
        "description": "TSR Merchants response model",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BaseResponseModel"
                },
                {
                  "type": "object",
                  "properties": {
                    "merchantGroupId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "merchantGroupName": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "revenueTotal": {
                "type": "number"
              },
              "clicksTotal": {
                "type": "number"
              },
              "salesTotal": {
                "type": "number"
              },
              "actionsTotal": {
                "type": "number"
              },
              "conversionRateTotal": {
                "type": "number"
              },
              "epcTotal": {
                "type": "number"
              },
              "merchantGroupIdsTotal": {
                "type": "number"
              },
              "merchantGroupNameTotal": {
                "type": "number"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
